:root {
  --general-text-color: #434455;
  --footer-text-color: #f4f4fd;
  --title-text-color: #2e2f42;
  --primty-brand: #4d5ae5;
  --CTA: #404bbf;
  --port-but: #e7e9fc;
  --primary-wite: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--general-text-color);
}
/* logo */
.logo {
  text-decoration: none;
  color: var(--title-text-color);
  text-transform: uppercase;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
}

.web {
  color: var(--primty-brand);
}

/* nav */
.list {
  list-style: none;
}

.site-nav .link {
  text-decoration: none;
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--primty-brand);
}

/* address */

.address {
  list-style: none;
}

.address a:hover,
.address a:focus {
  list-style: none;
  color: var(--primty-brand);
}

.address a {
  text-decoration: none;
  color: var(--general-text-color);
  font-style: normal;
}

/* buttons */

.button {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
}

.stu {
  color: #ffffff;
  background-color: var(--primty-brand);
}

.stu:hover,
.stu:active {
  background-color: var(--CTA);
}

.port {
  color: var(--primty-brand);
  background-color: var(--port-but);
}

.port:hover,
.port:focus {
  color: var(--primary-wite);
  background-color: var(--CTA);
}

/* studio */

/* sections */

.section-title {
  color: var(--title-text-color);
}

/* adventages */
.adventages {
  list-style: none;
}

.adventages-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}

/* What are we doing */

/* team */

.team-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
}

/* portfolio */

.examples {
  list-style: none;
}

.example-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
}

/* footer */

.foot-site {
  background-color: var(--title-text-color);
  color: var(--footer-text-color);
}

.logo-footer {
  text-decoration: none;
  color: var(--footer-text-color);
  text-transform: uppercase;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
}

.logo-footer .web {
  color: var(--primty-brand);
}
