/* colors which I will use */
/* titles main #2E2F42 */
/* accent #4D5AE5; */
/* white text #ffffff */
/* text color #434455 */
/* text in root background: #F4F4FD;*/

/* colors root */
:root {
  --title-color: #2e2f42;
  --text-color: #434455;
  --accent: #4d5ae5;
  --CTA: #404bbf ;
}

.logo {
  color: var(--title-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
}

body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color);
}

.list {
  list-style: none;
  text-decoration: inherit;
}

.link {
  color: red;
}